    <br>

    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="medium-9 large-7 columns">
            <h5 class="shadow-black">Sponsors</h5>

            <p class="shadow-black sponsors">
              <a href="https://gdr-rsd.cnrs.fr"><img src="{{ domain }}/assets/img/LOGO-GDR_RSD.png" width="150px"/></a>
              <a href="https://www.gdr-soc.cnrs.fr/"><img src="{{ domain }}/assets/img/GDRSoc2.png" width="150px" style="margin: 10px 20px;"/></a>
              <a href="https://www.sigops-france.fr/"><img src="{{ domain }}/assets/img/logo-asf.png" width="70px" style="margin: 10px 20px;"/></a>
              </p>
          </div><!-- /.large-6.columns -->


         <div class="medium-3 large-5 columns">
            {% for network_item in site.data.network %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ network_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

            <ul class="no-bullet shadow-black">
            {% for network_item in site.data.network %}
              {% if network_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = site.baseurl %}{% endif %}
                <li {% if network_item.class %}class="{{ network_item.class }}" {% endif %}>
                  <a href="{{ domain }}{{ network_item.url }}" {% if network_item.url contains 'http' %}target="_blank" {% endif %} title="{{ network_item.title }}">{{ network_item.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->

    </footer>
